@import '/src/scss/variables.scss';
@import '/src/scss/mixins.scss';

#header {
    background-color: #161834e6;
    padding: 18px 0;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: $orange;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
        @include align-center;

        img {
            margin-right: 10px;
        }
    }

    a {
        color: $white;
        margin: 0 20px;
    }

    .btn-signin {
        background-color: $orange;
        padding: 12px 40px;
        font-size: $font-18;
        font-weight: 600;
        color: $dark;
        border-radius: 30px;
    }
}