<section id="features-section">
    <div class="container ">
        <div class="flex" style="justify-content: space-between;">
            <div class="title-block">
                <h2 class="">Our key features</h2>
            </div>
            <div class="features-block">
                <div class="flex" style="justify-content: space-around;">
                    <div class="feature-item">
                        <img src="../../assets/img/logo.png" alt="logo" width="30">
                        <h3>Unlimited payouts & cashbacks</h3>
                    </div>
                    <div class="feature-item">
                        <img src="../../assets/img/logo.png" alt="logo" width="30">
                        <h3>Instant PayPal cash out from $2</h3>
                    </div>
                </div>
                <div class="flex" style="justify-content: space-around;">
                    <div class="feature-item">
                        <img src="../../assets/img/logo.png" alt="logo" width="30">
                        <h3>Tailored-offers for smooth completion</h3>
                    </div>
                    <div class="feature-item">
                        <img src="../../assets/img/logo.png" alt="logo" width="30">
                        <h3>24/7 Support</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center get-started-block">
            <p class="title"> Ready to get started?</p>
            <p class="text">Discover new products, games and apps and we'll get you paid in PayPal and Gift Cards for that!</p>
            <a href="#" class="btn-get-started"> Get started </a>
        </div>
    </div>
</section>








